@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-accent: var(--accent);
  --color-muted: var(--muted);

  --color-card: var(--card);
  --color-card-soft: var(--card-soft);

  --color-border: var(--border);
  --color-shadow: var(--shadow);
}

@layer base {

  /* Light mode — Golden Glow */
  :root {
    --background: #ffffff;
    --card: #dcdbdb;
    --card-soft: #eff3f4;

    --foreground: #1A1A1A;
    --muted: #666666;

    --primary: #efcb7c;
    --primary-foreground: #000000;
    --accent: #8A6A2B;

    --border: #EFEFEF;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 10px 15px rgba(0, 0, 0, 0.08);
  }

  .dark {
    --background: #080d34;
    --card: #323252;
    --card-soft: #0e0e1f;
    --foreground: #f3f8fc;
    --muted: #9BA3AF;

    --primary: #4F9CF9;
    --primary-foreground: #FFFFFF;

    --accent: #7DD3FC;

    --border: #2C2C30;
     --shadow: 0 8px 25px rgba(51, 51, 51, 0.6), 0 0 20px rgba(64, 75, 94, 0.12);
  }

  #root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-foreground) var(--background);
  }
}